.App {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: initial;
}

.display {
    display: block;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(6, 75px);
    gap: 4px;
}

.keyboard-key {

}