html {
    font-family: monospace;
}

body {
    margin: 0;
}

.App {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.calculator {
    display: initial;
    background-color: bisque;
    padding: 1.5rem;
    border-radius: 2rem;
}

.display {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    justify-content: center;
    align-items: flex-end;
    height: 4.5rem;
    background-color: white;
    border: black solid 2px;
    padding: 0.125rem 0.75rem;
    margin-bottom: 1rem;
}

.display-result {
    font-size: 1.5rem;
}

.display-current {
    font-size: 2.25rem;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(4, 65px);
    grid-template-rows: repeat(6, 65px);
    gap: 4px;
}

.keyboard-key {
    font-weight: bold;
    border-radius: 1rem;
}

.number {
    background-color: #0062B8;
    color: whitesmoke;
}

.symbol {
    background-color: #0062B877;
}

.equals {
    background-color: rgb(45, 214, 45);
    grid-column: 3 / 5;
}

.clear {
    background-color: rgb(249, 27, 27);
}